@model SBMS_Project2.Models.ProductViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<h2>Stock @*Management*@</h2>
<br />

<div>
    <div>
        <form action="" method="post">
            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    <label class="control-label">Product</label>
                </div>
                <div class="col-md-3 form-group">
                    <input type="text" name="ProductName" class="form-control" value="" />
                </div>

                <div class="col-md-1 col-md-offset-1">
                    <label class="control-label">Start Date</label>
                </div>
                <div class="col-md-3 form-group">
                    <input type="text" name="StartDate" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    <label class="control-label">Category</label>
                </div>
                <div class="col-md-3 form-group">
                    <input type="text" name="CategoryName" class="form-control" value="" />
                </div>

                <div class="col-md-1 col-md-offset-1">
                    <label class="control-label">End Date</label>
                </div>
                <div class="col-md-3 form-group">
                    <input type="text" name="" class="form-control" value="" />
                </div>
            </div>

            @*Check box*@
            <div class="row">
                <div class="form-group col-md-2 col-md-offset-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">Re-Order Level</label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="expired">
                        <label class="form-check-label" for="expired">Expired</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-offset-11">
                <input type="submit" class="btn btn-info" name="search" value="Search" />
            </div>
        </form>
    </div>
    
    <div class="">
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th style="position:sticky; top:0;" class="bg-primary">SL</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Code</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Name</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Category</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Reorderbr Level</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Expired Date</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Expired Qty</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Opening Balance</th>
                    <th style="position:sticky; top:0;" class="bg-primary">In</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Out</th>
                    <th style="position:sticky; top:0;" class="bg-primary">Closing Balance</th>
                </tr>
            </thead>
            @if (ViewBag.Products != null)
            {
                <tbody>
                    @*@{ var i = 1;}
                @foreach (var item in Products)
                {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Category.Name</td>
                    <td>@item.ReorderLevel</td>
                </tr>
                }*@
                    @{ int sl = 1;}
                    @foreach(var product in ViewBag.Products)
                    {
                    <tr>
                        <td>@(sl++)</td>
                        <td>@product.Code</td>
                        <td>@product.ProductName</td>
                        <td>@product.CategoryName</td>
                        <td>@product.ReorderLevel</td>
                        <td>@product.ExpireDate</td>
                    </tr>
                    }
                </tbody>
            }

        </table>
    </div>
</div>
<br />